<!DOCTYPE html>
<html>

  <%- include('partials/head', {title: 'Home' }) %>

  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    
    <ul class="nav nav-underline">
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/movies">Listado de peliculas</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/movies/new">Ultimos estrenos</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/movies/recommended">Top 5</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/genres">Listado de géneros</a></li>
    </ul>
    
    <%- include('partials/scripts') %>
    
  </body>
</html>
